# ***** App Settings *****
APP_ENV=development
APP_PORT=8080
APP_SECRET_KEY=

# ***** Postgres Database *****
POSTGRES_VERSION=15
POSTGRES_CONTAINER=apt_postgres_db
POSTGRES_HOST_PORT=5434

DB_HOST=localhost
DB_PORT=5434
DB_USER=apt_user
DB_PASSWORD=
DB_NAME=apartment_management_db
DB_SSLMODE=disable

# ***** Redis Cache *****
REDIS_VERSION=7
REDIS_CONTAINER=apt_redis_cache
REDIS_HOST=127.0.0.1
REDIS_PORT=6381
REDIS_PASSWORD=
REDIS_DB=0

# ***** PgAdmin *****
PGADMIN_VERSION=latest
PGADMIN_CONTAINER=apt_pgadmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=
PGADMIN_PORT=5051