# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
.env

# JetBrains
.idea/
*.iml
*.ipr
*.iws
out/

# Linux
*.swp
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# VS Code
.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.vsix

# upload
uploads/

# Matin :)
matintest

# notes
notes/